*{
    margin: 0;
    padding: 0;
 
     font-family: 'TheJamsil3Regular';
 
}


a {
    text-decoration: none;
    color: #333;
 }

 ul,li{
    list-style: none;
 }


 section div#s_order{
    width: 1136px;
    margin: 0 auto;
	
 }

section div#s_order ul{
	display: flex;
	justify-content: flex-end;
	margin-top: 30px;
	margin-bottom: 50px
	
}

section div#s_order ul li{
	margin-right: 20px;
	margin-left: 20px;
	
}

section div#s_order ul li:nth-child(2), div#s_order ul li:nth-child(3) {
	opacity: 70%;
}

section div#s_basketwrap {
	width: 1136px;
/* 	height: 500px; */
	margin: 0 auto;
	margin-bottom: 50px;
	
}

section div#s_basket ul{
	display: flex;
	justify-content: space-around;
	border-bottom-style: solid;
	border-bottom-width: 1px;

}

section div#s_basket ul li{
	height: 30px;
}

section div.s_basket_prod ul{
	display: flex;
	justify-content: space-around;
	
}
section div.s_basket_prod ul li{
	height: 30px;
	line-height: 30px;
}

/*//////////////////////////////아래는 shopping_cart_direct.jsp의 css ////////////////////////////*/
#shopping_total_price_info_wrap{
	width: 100%;
	
}

#shopping_total_price_info_wrap .shopping_total_price_info{
	width: 1020px;
	height: 300px;
    background-color: blue;
    margin: 0 auto 50px auto;
}

#shopping_total_price_info_wrap .total_price_info{
	float: left;
    background-color: white;
    width: 32%;
    /* margin: 0 auto; */
    line-height: 150px;
    text-align: center;
    
    border-top-style: solid;
    border-top-color: #7E7DCB;
    
    border-left-style: solid ;
    border-left-color: gray;
}


#shopping_total_price_info_wrap .total_price_info:nth-child(3){
    border-top-style: solid;
    border-top-color: #7E7DCB;
    
    border-right-style: solid ;
    border-right-color: gray;
}

#shopping_total_price_info_wrap .sum_price{
	width: 1020px;
    height: 100px;
    background-color: beige;
    float: left;
    border-top-style: solid;
    border-color: #7E7DCB;
}

.sum_price span:nth-child(2){
	float: right;	
}

/*............................ 카드 바로가기 속 선택주문/전체주문 버튼 css 시작 .............................*/

#order_btn_wrap{
	width: 100%	
}

#order_btn_wrap div.order_btn{
	width: 220px;
	margin: 0 auto;
	margin-bottom: 30px;
}

#order_btn_wrap div.order_btn button{
	width: 100px;
	height: 50px;
}

/*............................ 카드 바로가기 속 선택주문/전체주문 버튼 css 끝 .............................*/




