.fdivwrap1{
	margin : 0 auto;
	max-width : 1100px;
/*  	border : 1px solid black;  */
	height: auto;
	margin-bottom: 120px;
}

.fdivwrap2{
/* 	border : 1px solid  rgba(224, 237, 251, 0.64); */
	width: auto;
	height: 120px;
	margin : 0 auto; 
/* 	background-color: rgba(224, 237, 251, 0.64); */
/* 	position: sticky; 스크롤 내릴때 배너 상단 고정 */
    top: 0;
    left: 0;	
    display: flex;
    padding: 20px 0;
}

.fdivwrap2_1{
	margin: 0 auto;
	max-width: 1100px;

}


.fdivwrap2_2{
	height :60px;
	width: 1100px;
/* 	border : 1px solid black; */
	display:flex;
	    margin-top: 6px;
}
.fdivwrap2_2_1{
	margin:0 auto;
	width:500px;
	height :60px;
/* 	border : 1px solid black; */
	display: flex;

}
.fdivwrap2_2_2{
	margin:0 auto;
	max-width:100px;
	height :auto;
/* 	border : 1px solid black; */
	text-align: center;
	font-size: 28pt;
	color : white;
	padding: 10px 0;
}

.fdivwrap2_3{
	margin-top: 10px;
	height :30px;
	width: 1100px;
/* 	border : 1px solid black; */
	display: flex;
}
.fdivwrap2_3_1 {
    width: 500px;
    height: 30px;
/*     border: 1px solid black; */
    display: flex;
    justify-content: center;
       margin-left: 364px;
    margin-right: 100px;
}
.fdivwrap2_3_2 {
    margin: 0 auto;
    max-width: 200px;
    height: auto;
/*     border: 1px solid black; */
    text-align: center;
    font-size: 15pt;
    color : white;
    padding: 8px 0;
}

.fdivwrap2_3_3 {
    width: 70px;
    margin-right: 200px;
    height: auto;
    border: 1px solid gray;
    text-align: center;
    font-size: 10pt;
    color : white;
    padding: 8px 0;
    border-radius: 5px;
     cursor: pointer;
}

/* 팝업 스타일 */
.fmodal-bg {
	display:none;
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	right:0;
	background: rgba(0, 0, 0, 0.6);z-index:999;
	}
.fmodal-wrap {
	display:none;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	width:1000px;
	height:auto;
	background:#fff;
	z-index:1000;
	}
.fcome1{
    margin: 20px 10px 0 0px;
}

.fcome2{
    margin: 20px 10px 0 30px;
}

.fcome3{
    margin: 20px 10px 0 30px;
}
.fdivwrap6{
	max-width: 1100px;
	height : auto;
	margin: 0 auto;
/* 	border : 1px solid black; */
}

.fdivwrap7{
	width: 100%;
	height: auto;
/* 	border : 1px solid black; */
	border-radius: 5px;
    box-shadow: 5px 5px 30px 10px rgb(105 105 105 / 20%);
    /* border-style: solid; */
    background-color: white;

}

.fselect_area2 {
    margin: 0px 10px 0 30px;
}


.fselect_area2 input[placeholder="도착지"]{
    width: 650px;
    margin: 0px 0 50px 30px;
    float: none;
    height: 62px;
    line-height: 62px;
    background-color: #f2f6f9;
    border: none;
    border-radius: 3px;
    padding: 0 20px;
    font-size: 15px;
}
.fselect_area2 input[placeholder="인원 선택"]{
    width: 250px;
    margin: 0px 0 0 30px;
    float: none;
    height: 62px;
    line-height: 62px;
    background-color: #f2f6f9;
    border: none;
    border-radius: 3px;
    padding: 0 20px;
    font-size: 15px;
}

.fselect_area2 input[value="항공권 검색"]{
    width: 220px;
    margin: 0px 0 0 30px;
    float: none;
    height: 62px;
    line-height: 62px;
    background: #1e9eed;
    border-color: #1e9eed;
    font-weight: 600;
    color: #fff;
    border-radius: 3px;
    /* padding: 0 20px; */
    font-size: 15px;
}
.fselect_area2 .modal-close{
	width: 220px;
    margin: 0px 0 0 30px;
    float: none;
    height: 62px;
    line-height: 62px;
    background: #1e9eed;
    border-color: #1e9eed;
    font-weight: 600;
    color: #fff;
    border-radius: 3px;
    /* padding: 0 20px; */
    font-size: 15px;
}
.fselect_area2 input[placeholder="도착지"]{
    width: 650px;
    margin: 0px 0 50px 30px;
    float: none;
    height: 62px;
    line-height: 62px;
    background-color: #f2f6f9;
    border: none;
    border-radius: 3px;
    padding: 0 20px;
    font-size: 15px;
}
.fselect_area2 input[placeholder="인원 선택"]{
    width: 250px;
    margin: 0px 0 0 30px;
    float: none;
    height: 62px;
    line-height: 62px;
    background-color: #f2f6f9;
    border: none;
    border-radius: 3px;
    padding: 0 20px;
    font-size: 15px;
}


.fselect1{
    width: 380px;
    margin: 20px 0 0 10px;
    float: none;
    height: 62px;
    line-height: 62px;
    background-color: #f2f6f9;
    border: none;
    border-radius: 3px;
    padding: 0 20px;
    font-size: 15px;
}

.fselect2{
    width: 380px;
    margin: 20px 0 0 10px;
    float: none;
    height: 62px;
    line-height: 62px;
    background-color: #f2f6f9;
    border: none;
    border-radius: 3px;
    padding: 0 20px;
    font-size: 15px;
}

.fdate1{
    width: 340px;
    margin: 20px 0 0 10px;
    float: none;
    height: 62px;
    line-height: 62px;
    background-color: #f2f6f9;
    border: none;
    border-radius: 3px;
    padding: 0 20px;
    font-size: 15px;
}

.fdate2{
    width: 340px;
    margin: 20px 0 0 10px;
    float: none;
    height: 62px;
    line-height: 62px;
    background-color: #f2f6f9;
    border: none;
    border-radius: 3px;
    padding: 0 20px;
    font-size: 15px;
}

.fpersonwrap1{
    width: 180px;
    margin: 20px 0 30px 2px;
    float: none;
    height: 62px;
    line-height: 62px;
    background-color: #f2f6f9;
    border: none;
    border-radius: 3px;
    padding: 0 20px;
    font-size: 15px;
}

.fpersonwrap2{
    width: 180px;
    margin: 20px 0 30px 30px;
    float: none;
    height: 62px;
    line-height: 62px;
    background-color: #f2f6f9;
    border: none;
    border-radius: 3px;
    padding: 0 20px;
    font-size: 15px;
}
.fgoflight1{
	margin-top: 30px;
}
.fdivwrap3{
	border: 1px solid #cacdd5;
	margin-top : 45px;
	width: 100%;
	height: 200px;
	display: flex;
}

.fdivwrap4{
/* 	border : 1px solid black; */
	width: 80%;
	height: 100%;
	background-color: #f8f8f8;
}
.fdivwrap4all{
/* 	border : 1px solid black; */
	width:100%;
	height: 60%;
	display :flex;
	justify-content: center;
}
.fdivwrap4_1{
	margin-top : 11px;
/* 	border : 1px solid black; */
	width: 30%;
	height: 80%;
	text-align: center;
	font-size: 28pt;
	line-height: 170px;
}
.fdivwrap4_2{
	margin-top : 40px;
/* 	border : 1px solid black; */
	width: 40%;
	height: 80%;
}
.fdivtimewrap2{
	font-size: 15pt;
	color :#00256c;
	display: flex;
	justify-content: center;
	margin-top: 20px;

}
.fdivtimewrap2_1{
	display: flex;
	 flex-direction: row;
	 justify-content: center;
}
.fdivwrap4_2 img{
	margin : 10px 0 0 50px;
	width : 250px;
}
.fdivwrap4_3{
	margin-top : 11px;
/* 	border : 1px solid black; */
	width: 30%;
	height: 80%;
	text-align : center;
	font-size: 28pt;
	line-height: 170px;
}
.fdivwrap4all2{
/* 	border : 1px solid black; */
	width:100%;
	height: 40%;
	display :flex;
	justify-content: center;
}
.fdivwrap4_4{
/* 	border : 1px solid black; */
	width: 30%;
	height: 80%;
	text-align: center;
	font-size: 14pt;
    line-height: 65px;
    color: #575e6f;
    margin-top: -10px;
}

.fdivwrap5{
	border-top: 3px solid #89b3fe;
    border-left: 1px solid #cacdd5;
	width: 20%;
	height: 100%;
	display: flex;
	justify-content: center;
	cursor: pointer;
}

.fdivwrap5:hover, .fdivwrap5:focus, .fdivwrap5:active{
	transition-duration: 0.3s;
    transform: scale(1.04, 1.04); 
    transition-duration: 0.5s;
    background-color: #00256c;
    color : white;
}
.fdivwrap5_1{
/* 	border: 1px solid black; */
	width: 80%;
	height:auto;
	text-align: right;
	padding : 80px 0 0 0;
	font-size: 20pt;
	
}
.fdivwrap5_2{
/* 	border: 1px solid black; */
	width: 20%;
	height:auto;
	text-align: center;
	padding : 80px 0 0 0;
	font-size: 20pt;
}

/* 하단 고정 배너? */
.fdivbottom1{
	position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height:60px;
    background-color:white;
    text-align: center;
    box-shadow: -3px -3px 8px 1px rgb(105 105 105 / 10%);
}
.fdivbottom2{
/* 	border:2px solid rgb(105 105 105 / 10%); */
	width: 1100px;
	background-color: white;
	margin: 0 auto;
	height:100%;
	display: flex;
}
.fdivbottom2_1{
	width: 40%;
	height: 100%;
	background-color:white;
	display: inline-block;
    padding-left: 10px;
}

.fdivbottom2_1_1{
	padding-top:6px;
	width: 100%;
	height: 90%;
	background-color: white;
	font-size: 15pt;
	display: flex; /* 추가 */
	align-items: center; /* 추가 */
}
.fdivbottom2_2{
	width: 40%;
	height: 100%;
	background-color:white;
	margin-left: auto;
	display:flex;
	justify-content: flex-end; 
}
.fdivbottom2_2_1{
	margin-left:164px;
	width: 70%;
	height: 90%;
	background-color: white;
	font-size: 15pt;
	align-items: center;
	padding-top: 20px;
	text-align: right; /* 추가 */
	color : #00256c;
}
.fdivbottom2_2_2{
	margin-left:auto;
	width: 10%;
	height: 90%;
	background-color: white;
	color : #00256c;
	font-size: 15pt;
	align-items: center;
	padding-top: 20px;
}

.fdivbottom2_3{
	    background-color: #00256c;
	width: 20%;
	height: 100%;
	margin-left: auto;	
}
.fdivbottom2_3_1{
    border: none;
    width: 100%;
    height: 80%;
    background-color: #00256c;
    color: white;
    font-size: 15pt;
    align-items: center;
    padding-top: 20px;
    cursor: pointer;
}